<!doctype html>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plain Film Counts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
.center-div
{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
    </style>
  </head>
  <body class="bg-dark">
    <div class="center-div">
      <div class="card border-warning text-white bg-dark mb-3" style="width: 18rem;">
        <h1 class="card-header text-center display-1">{{ '😊' if counts['exam'] >= 1000 else '😭' }}</h1>
        <div class="card-body">
          <h4 class="card-title">Plain Films</h4>
          <h5 class="card-subtitle mb-2 text-muted">{{ date_str }}</h5>
          {% if counts %}
          <table class="table card-text">
            <tr class="{{ 'bg-danger' if counts['exam'] < 1000 else '' }}">
              <th>exam</th>
              <td>{{ counts['exam'] }}</td>
            </tr>
            <tr class="{{ 'bg-danger' if counts['images'] < 1000 else '' }}">
              <th>images</th>
              <td>{{ counts['images'] }}</td>
            </tr>
          </table>
          {% else %}
          <h1>Hello, World!</h1>
          {% endif %}
        </div>
        <div class="card-footer text-right font-italic"># {{ dr_id }}</div>
      </div>
    </div>
  </body>
</html>
